.title{
    position:relative;
    top: 0px;
    height: 940px;
    width: 1728px;
}
.title__wave{
    width: 1728px;
    position: absolute;
    height: 800px;
    left: 0px;
    top: 0px;
}

.title__planet__1{
    position: absolute;
    height: 904px;
    left: 80px;
    top: -133px;
    z-index: 0;

}
.title__planet__2{
    position: absolute;
    height: 904px;
    left: 700px;
    top: 70px;
    z-index: 0;
}
.title__dark{
    font-family: 'Oswald', sans-serif;
    font-size: 280px;
    font-style: normal;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 80px;
    letter-spacing: 0.1em;

}
.title__side{
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    position: absolute;
    left: 660px;
    top: 225px;
}
.title__birthday{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
    position:absolute;
    top: 630px;
    left: 410px;
}
.title__date{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    line-height: 33px;
    text-align: center;
    position:absolute;
    top: 680px;
    left: 470px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border:#000000 solid 1.5px;
    border-radius: 35px;
}

.event{
    position: relative;
    top: 970px;
}

.event__coming{
    font-size: 280px;
    width: 400px;
    overflow-wrap: break-word;
    line-height: 250px;
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    font-family: 'Oswald', sans-serif;
}
.event__image{
    height: 700px;
    position:absolute;
    bottom: 410px;
    right: 125px;
}
.event__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
    position:absolute;
    right: 640px;
    bottom: 800px;
}
.event__text__1{
    background-color: #000000;
    color: white;
    border: black solid 1.5px;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    margin-bottom: 20px;
}
.event__text__2{
    background-color: transparent;
    border: white solid 1.5px;
    color:white;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    margin-bottom: 20px;
}
.event__text__3{
    background-color: white;
    border: white solid 1.5px;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    margin-bottom: 20px;
}
.event__text__4{
    background-color: white;
    border: white solid 1.5px;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    margin-bottom: 20px;
}
.event__text__5{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    line-height: 35px;
    text-align: center;
    position: relative;
    left: 400px;
    bottom: 355px;
}
.event__text__5__button{
    border: white solid 1.5px;
    width: 25px;
    padding: 50px;
    border-radius: 150px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    position: relative;
    left: 1350px;
    bottom: 435px;
}
.information{
    height: 720px;
    width: 1380px;
    left: 0px;
    top: 0px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1900px;
    left: 174px;
    z-index: 10;
}

.information__where__icon{
    opacity: 100%;
    color: white;
    position: absolute;
    left: 260px;
    top: 120px;
}
.information__where__subtitle{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    color: white;
    position: absolute;
    left: 205px;
    top: 230px;
}

.information__where__text{

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    position:absolute;
    height: 217px;
    width: 341px;
    left: 120px;
    top: 350px;
    text-align: center;
}
.information__when__icon{
    opacity: 100%;
    color: white;
    position: absolute;
    left: 640px;
    top: 130px;
}
.information__when__subtitle{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    color: white;
    position: absolute;
    left: 620px;
    top: 230px;
}

.information__when__text{

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    position:absolute;
    height: 217px;
    width: 341px;
    left: 520px;
    top: 350px;
    text-align: center;
}
.information__how__icon{
    opacity: 100%;
    color: white;
    position: absolute;
    right: 260px;
    top: 130px;
}
.information__how__subtitle{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    color: white;
    position: absolute;
    right: 240px;
    top: 230px;
}

.information__how__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    position:absolute;
    height: 217px;
    width: 341px;
    right: 120px;
    top: 350px;
    text-align: center;
}


/*este codigo le da estilos a la página de ARTISTS*/
.artists__title--black{
    font-family: 'Oswald', sans-serif;
    font-size: 150px;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.1em;
}
.artists__title--transparent{
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    position: absolute;
    left: 660px;
    top: 225px;
}

.artists__title__dark--black{
    position: absolute;
    left: 150px;
}
.artists__title__side--transparent{
    position: absolute;
    left: 380px;
    top: 0px;
}

.artists__title__art--black{
    position: absolute;
    right: 500px;
}

.artists__title__ists--transparent{
    position: absolute;
    top: 0px;
    left: 260px;
}
.artists__profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.artists__profiles__1, .artists__profiles__2, .artists__profiles__3, .artists__profiles__4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artists__profiles__images__1, .artists__profiles__images__2{
    margin: 250px 100px 0px;
}
.artists__profiles__images__3, .artists__profiles__images__4{
    margin: 150px 100px 0px;
}

.artists__profiles__name{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}

.artists__profiles__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.footer__artists{
    position: absolute;
    top: 2100px;
}

/*estilos contact*/
.form{
    height: 550px;
    width: 600px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 125px;
    left: 250px;
    z-index: 10;

}

.form__image{
    height:650px;
    position: absolute;
    top: 75px;
    left: 525px;
    z-index: 5;
}

.footer__contact{
    position: absolute;
    top: 725px;
}

.form__title{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    color:white;
    margin: 30px 0px 10px 0px;
}

.form__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.form__name{
    border-radius: 20px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 500px;
    position:relative;
    left: 40px;
    margin-bottom: 20px
}

.form__email{
    border-radius: 20px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 500px;
    position:relative;
    left: 40px;
    margin-bottom: 20px;
}

.form__message{
    border-radius: 20px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 500px;
    height: 150px;
    position:relative;
    left: 40px;
    margin-bottom: 15px 
}

.form__send{
    border-radius: 10px;
    border-style: none;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    position:relative;
    left: 250px;
    margin-bottom: 20px 
}

/*estilos de events*/
.events--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.events__bloque-1{
    height: 656px;
    width: 1136px;
    background-image: url(../imágenes/events/bloque-1.png);
    margin: 30px 0px 25px 0px;
}
.events__bloque-2{
    height: 656px;
    width: 454px;
    background-color: #F6430D;
    margin: 30px 0px 25px 0px;
}
.events__bloque-3{
    height: 656px;
    width: 1136px;
    background-color: #2C599D;
    margin: 25px 0px;
}
.events__bloque-4{
    height: 656px;
    width: 454px;
    background-image: url(../imágenes/events/bloque-4.png);
    margin: 25px 0px;
}
.events__bloque-5{
    height: 524px;
    width: 384px;
    background-color: #2C599D;
    margin: 25px 0px;
}

.events__bloque-6{
    height: 524px;
    width: 650px;
    background-color: #2C599D;
    margin: 25px 0px;
}

.events__bloque-7{
    height: 656px;
    width: 454px;
    margin: 25px 0px;
}

/*bloque 1*/
.events__bloque-1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.events__bloque-1__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    margin: 40px;
    text-align: center;
}
.events__bloque-1__text-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    position: relative;
    top: 200px;
}

.events__bloque-1__text-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    position: relative;
    top: 200px;
    
}

.events__bloque-1__text-3{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    position: relative;
    top: 200px;
}

/*bloque 2*/
.events__bloque-2{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.events__bloque-2__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
    line-height: 60px;
}
.events__bloque-2__text-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 1000;
    margin: 0px 80px;
}
.events__bloque-2__arrow-1{
    height: 30px;
    width: 183px;
}
.events__bloque-2__text-2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    position: relative;
    bottom: 30px;
}

.events__bloque-2__text-3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
    position: relative;
    bottom: 40px;
}
.events__bloque-2__arrow-2{
    height: 30px;
    width: 183px;
}
.events__bloque-2__text-4{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    position: relative;
    bottom: 30px;
}

.events__bloque-2__text-5{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
    position: relative;
    bottom: 40px;
}

/*bloque 3*/

.background--orange{
    background-color: #F6430D;
    position: relative;
    top: 50px;
}

.events__bloque-3__text-1{
    margin: 5px;
    border-bottom: solid black 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 1000;
    padding: 5px;
}
.events__bloque-3__title-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 15px;
}

.events__bloque-3__text-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    padding: 5px;
    margin-bottom: 38px;
}

.events__bloque-3__text-3{
    margin: 5px;
    border-bottom: solid black 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 1000;
    padding: 5px;
}
.events__bloque-3__title-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 15px;
}

.events__bloque-3__text-4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    padding: 5px;
    margin-bottom: 38px;
}

.events__bloque-3__text-5{
    margin: 5px;
    border-bottom: solid black 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 1000;
    padding: 5px;
}

.events__bloque-3__title-3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 15px;
}
.events__bloque-3__contenedor--flexwrap{
    display: flex;
    justify-content: space-around;
}

.events__bloque-3__text-6{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    padding: 5px;
    margin-bottom: 15px;
}
.events__bloque-3__text-7{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    padding: 5px;
    margin-bottom: 15px;
}
.events__bloque-3__text-8{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    padding: 5px;
    margin-bottom: 15px;
}

/*bloque 4*/
.events__bloque-4{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.events__bloque-4__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
    line-height: 60px;
    margin: 20px;
}
.events__bloque-4__text-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    padding: 5px;
}

.events__bloque-4__text-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
    margin: 20px;
}

/*bloque 5*/
.events__bloque-5__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    padding: 15px;
}

.events__bloque-5__text-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 1000;
    padding: 5px;
    text-align: center;
}
.events__bloque-5__text-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
    margin-top: 30px;
}

/*bloque 6*/
.events__bloque-6{
    display: flex;
    align-items: center;
}
.events__bloque-6__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: 1000;
    text-align: center;
}

.events__bloque-7{
    display: flex;
    justify-content: space-between;
    height: 524px;
}

.footer__events{
    position: absolute;
    top: 2100px;
}

/*estilos ABOUT US*/
.about-us{
    display:flex;
    flex-direction: row;
}

.about-us__left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:864px;
    height: 2085px;
}
.about-us__right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:864px;
    height: 2085px;
}
.about-us__left__dark, .about-us__right__side{
    font-family: 'Oswald', sans-serif;
    font-size: 270px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-left: 30px;
    color:#f56311;
}

.about-us__left__text, .about-us__right__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    color: white;
    width: 600px;
}
.about-us__left__text{
    text-align: right;
    position: relative;
    left: 100px;
}
.about-us__right__text{
    text-align: left;
    position: relative;
    left: 50px;
}

.about-us__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: right;
    color: white;
    width: 600px;
    margin: 10px;
    position: relative;
    left: 90px;
}
.about-us__gradient{
    position: relative;
    left: 20px;
}

.about-us__right__extra{
    color: transparent;
    -webkit-text-stroke: 2px #3a3cad;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 20px;
}

.about-us__color-blocks{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 100px;
}

.footer__about-us{
    position:absolute;
    top: 2200px;
}