@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*backgrounds colors*/
.background__gradient {
  background: radial-gradient(50% 50% at 50% 50%, #f56311 0%, rgba(245, 99, 17, 0) 100%), linear-gradient(0deg, #11214b, #11224d); }

.background--black {
  background-color: black; }

/*estilos del HEADER*/
.menu {
  background-color: #000000;
  height: 5rem;
  width: 100%;
  display: flex; }
  .menu__icon {
    display: flex; }
    .menu__icon__image {
      align-self: center;
      padding: 0rem 1.25rem; }
  .menu__list {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .menu__list__item {
      display: flex; }
      .menu__list__item:hover {
        background-color: #202020; }
      .menu__list__item__link {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        text-align: center;
        color: white;
        text-decoration: none;
        align-self: center;
        margin: 0rem 1.25rem;
        transition: background-color 1s; }
        .menu__list__item__link--text-decoration {
          text-decoration: underline; }

@media screen and (max-width: 768px) {
  .menu {
    height: 6rem; }
    .menuicon__image {
      height: 5rem;
      padding: 1em; }
    .menu__list {
      height: 6rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .menu__list__item__link {
        font-size: 1.2em;
        margin: 0.1em 0.5em; } }

/*estilos del FOOTER*/
.footer {
  background-color: #000000;
  height: 6.25rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer__spotify {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 21.875rem;
    align-items: center; }
    .footer__spotify__text {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4em;
      color: white; }
  .footer__instagram {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 21.875rem;
    align-items: center; }
    .footer__instagram__text {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4em;
      color: white; }

@media screen and (max-width: 768px) {
  .footer {
    height: 6rem;
    display: flex;
    flex-wrap: wrap; }
    .footer__icon {
      height: 1.8rem; }
    .footer__instagram__text {
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      color: white; }
    .footer__spotify__text {
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      color: white; } }

/*estilos de INDEX*/
.index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around; }

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%; }
  .title__name {
    display: flex; }
    .title__name__dark {
      font-family: "Oswald", sans-serif;
      font-size: 14rem;
      font-style: normal;
      text-align: center;
      letter-spacing: 0.1em; }
    .title__name__side {
      font-family: "Oswald", sans-serif;
      font-size: 14rem;
      font-style: normal;
      text-align: center;
      letter-spacing: 0.1em;
      color: transparent;
      -webkit-text-stroke: 0.125rem #000000; }
  .title__birthday {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.063rem;
    text-align: center; }
  .title__date {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: normal;
    line-height: 2.063rem;
    text-align: center;
    padding: 0.313rem 0.625 0.313rem 0.625;
    background-color: transparent;
    border: #000000 solid 0.094rem;
    border-radius: 2188rem;
    width: 15.625rem; }

.event {
  display: flex;
  justify-content: space-around; }
  .event__coming {
    font-size: 16.25rem;
    width: 25rem;
    overflow-wrap: break-word;
    line-height: 15.625rem;
    color: transparent;
    -webkit-text-stroke: 0.125rem #000000;
    font-family: "Oswald", sans-serif; }
  .event__image {
    height: 43.75rem;
    align-self: center; }
  .event__text {
    width: 43.75rem;
    height: 43.75rem;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(12 1fr);
    position: absolute;
    top: 34.375rem;
    right: 2.5rem; }
    .event__text__item {
      padding: 0.313rem;
      width: 9.375;
      height: 3.125rem;
      margin-bottom: 1.25rem;
      font-family: "Montserrat", sans-serif;
      font-size: 1.25rem;
      font-weight: 800;
      line-height: 2.188rem;
      text-align: center; }
    .event__text__1 {
      grid-column: 1/1;
      grid-row: 1/1;
      background-color: #000000;
      color: white;
      border: black solid 0.094rem;
      border-radius: 1.25rem; }
    .event__text__2 {
      grid-column: 1/1;
      grid-row: 2/2;
      background-color: transparent;
      border: white solid 0.094rem;
      color: white;
      border-radius: 1.25rem; }
    .event__text__3 {
      grid-column: 1/1;
      grid-row: 3/3;
      background-color: white;
      border: white solid 0.094rem;
      border-radius: 1.25rem; }
    .event__text__4 {
      grid-column: 1/1;
      grid-row: 4/4;
      background-color: white;
      border: white solid 0.094rem;
      border-radius: 1.25rem; }
    .event__text__5 {
      grid-column: 2/2;
      grid-row: 12/12;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 1.563rem;
      font-weight: 500;
      font-style: normal;
      position: relative;
      left: 3.125rem; }
      .event__text__5__button {
        grid-column: 3/3;
        grid-row: 12/12;
        border: white solid 0.094rem;
        height: 6.25rem;
        width: 6.25rem;
        padding: 2.188rem;
        border-radius: 6.25rem;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 1.563rem;
        font-weight: 800;
        font-style: normal;
        text-align: center;
        position: relative;
        bottom: 2.5rem; }

/*INFORMATION*/
.information {
  height: 37.5rem;
  width: 75rem;
  border-radius: 3.125rem;
  background-color: rgba(0, 0, 0, 0.5);
  align-self: center;
  margin: 6.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .information__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18.75rem; }
  .information__icon {
    opacity: 100%;
    color: white; }
  .information__subtitle {
    font-family: "Oswald", sans-serif;
    font-size: 3.75rem;
    color: white; }
  .information__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    color: white;
    text-align: center; }

@media screen and (max-width: 768px) {
  .title {
    height: 28.125rem; }
    .title__name {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 3.125rem; }
      .title__name__dark {
        font-size: 8rem;
        height: 8.125rem;
        -webkit-text-stroke: 0.094rem #000000; }
      .title__name__side {
        font-size: 8rem;
        height: 8.125rem;
        -webkit-text-stroke: 0.094rem #000000; }
    .title__birthday {
      font-size: 1rem; }
    .title__date {
      font-size: 1rem;
      width: 10em; }
  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem; }
    .event__coming {
      font-size: 5.5rem;
      text-align: center;
      height: 12.5rem;
      -webkit-text-stroke: 0.075rem #000000; }
    .event__image {
      height: 18.75rem; }
    .event__text {
      width: 17.5rem;
      height: 19.313rem;
      position: absolute;
      top: 45rem;
      right: 2.125rem; }
      .event__text__item {
        padding: 0rem;
        width: 5.625rem;
        height: 2.5rem;
        font-size: 0.8rem; }
      .event__text__5 {
        font-size: 0.8rem;
        position: relative;
        left: 3.125rem;
        bottom: 1.875rem; }
        .event__text__5__button {
          padding: 0.625rem;
          border-radius: 6.25rem;
          font-size: 1rem;
          width: 3.125rem;
          height: 3.125rem;
          font-weight: 800;
          font-style: normal;
          text-align: center;
          position: relative;
          bottom: 2.5rem; }
  .information {
    height: 61.25rem;
    width: 18.75rem;
    flex-direction: column;
    border-radius: 1.563rem;
    margin: 4.375rem; }
    .information__text {
      font-size: 1rem;
      width: 15.625rem; }
    .information__subtitle {
      font-size: 2rem;
      width: 15.625rem;
      text-align: center; }
    .information__icon {
      height: 5rem; } }

/*estilos de EVENTS*/
.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "one one two " "three three four" "five six seven";
  width: 100%;
  justify-content: center;
  grid-gap: 1.25rem; }
  .events__bloque-1 {
    grid-area: one;
    height: 31.25rem;
    width: 62.5rem;
    background-image: url(../imágenes/events/bloque-1.png);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .events__bloque-1__title {
      font-family: "Montserrat", sans-serif;
      font-size: 5rem;
      margin: 2.5rem;
      text-align: center; }
    .events__bloque-1__text-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem; }
    .events__bloque-1__text-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem; }
    .events__bloque-1__text-3 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem; }
  .events__bloque-2 {
    grid-area: two;
    height: 31.25rem;
    width: 19rem;
    background-color: #f6430d;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap; }
    .events__bloque-2__title {
      font-family: "Montserrat", sans-serif;
      font-size: 3.75rem;
      text-align: center;
      line-height: 3.75rem; }
    .events__bloque-2__text-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 0.938rem;
      text-align: center;
      font-weight: 1000;
      margin-bottom: 1.25rem; }
    .events__bloque-2__text-2 {
      font-family: "Oswald", sans-serif;
      font-size: 2.813rem;
      position: relative;
      bottom: 1.875rem; }
    .events__bloque-2__text-3 {
      font-family: "Montserrat", sans-serif;
      font-size: 0.938rem;
      font-weight: 1000;
      text-align: center;
      position: relative;
      bottom: 2.5rem;
      width: 15.625rem; }
    .events__bloque-2__text-4 {
      font-family: "Oswald", sans-serif;
      font-size: 2.813rem;
      position: relative;
      bottom: 1.875rem; }
    .events__bloque-2__text-5 {
      font-family: "Montserrat", sans-serif;
      font-size: 0.938rem;
      font-weight: 1000;
      text-align: center;
      position: relative;
      bottom: 2.5rem;
      width: 15.625rem; }
  .events__bloque-3 {
    grid-area: three;
    height: 31.25rem;
    width: 62.5rem;
    background-color: #2c599d; }
    .events__bloque-3__bg {
      background-color: #f6430d;
      position: relative;
      top: 50px; }
    .events__bloque-3__text-1 {
      margin: 5px;
      border-bottom: solid black 2px;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: 1000;
      padding: 5px; }
    .events__bloque-3__title-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      margin: 10px; }
    .events__bloque-3__text-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 1000;
      padding: 5px;
      margin-bottom: 33px; }
    .events__bloque-3__text-3 {
      margin: 5px;
      border-bottom: solid black 2px;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: 1000;
      padding: 5px; }
    .events__bloque-3__title-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      margin: 10px; }
    .events__bloque-3__text-4 {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 1000;
      padding: 5px; }
    .events__bloque-3__text-5 {
      margin: 5px;
      border-bottom: solid black 2px;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: 1000;
      padding: 5px; }
    .events__bloque-3__title-3 {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      margin: 17px; }
    .events__bloque-3__contenedor--flexwrap {
      display: flex;
      justify-content: space-around; }
    .events__bloque-3__text-6 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-weight: 1000;
      padding: 5px; }
    .events__bloque-3__text-7 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-weight: 1000;
      padding: 5px; }
    .events__bloque-3__text-8 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-weight: 1000;
      padding: 5px; }
  .events__bloque-4 {
    grid-area: four;
    height: 31.25rem;
    width: 19rem;
    background-image: url(../imágenes/events/bloque-4.png);
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap; }
    .events__bloque-4__title {
      font-family: "Montserrat", sans-serif;
      font-size: 60px;
      text-align: center;
      line-height: 50px;
      margin: 20px; }
    .events__bloque-4__text-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      font-weight: 1000;
      padding: 5px; }
    .events__bloque-4__text-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 50px;
      text-align: center;
      margin: 20px; }
  .events__bloque-5 {
    grid-area: five;
    height: 31.25rem;
    width: 30.625rem;
    background-color: #2c599d; }
    .events__bloque-5__title {
      font-family: "Montserrat", sans-serif;
      font-size: 60px;
      text-align: center;
      line-height: 60px;
      padding: 15px; }
    .events__bloque-5__text-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-weight: 1000;
      padding: 5px;
      text-align: center; }
    .events__bloque-5__text-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-weight: 1000;
      text-align: center;
      margin-top: 30px; }
  .events__bloque-6 {
    grid-area: six;
    height: 31.25rem;
    width: 30.625rem;
    background-color: #2c599d;
    display: flex;
    align-items: center; }
    .events__bloque-6__image {
      height: 31.25rem;
      width: 15.312rem; }
    .events__bloque-6__text {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      font-weight: 1000;
      text-align: center; }
  .events__bloque-7 {
    grid-area: seven;
    height: 31.25rem;
    width: 19rem;
    display: flex;
    justify-content: space-between;
    height: 31.25rem; }

@media screen and (max-width: 768px) {
  .events {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .events__bloque-1 {
      height: 12rem;
      width: 20em; }
      .events__bloque-1__title {
        font-size: 30px;
        margin: 5px; }
      .events__bloque-1__text-1 {
        font-size: 20px; }
      .events__bloque-1__text-2 {
        font-size: 20px; }
      .events__bloque-1__text-3 {
        font-size: 20px; }
    .events__bloque-2 {
      height: 12rem;
      width: 20em; }
      .events__bloque-2__title {
        font-size: 30px;
        line-height: 30px; }
      .events__bloque-2__text-1 {
        font-size: 10px;
        width: 100%; }
      .events__bloque-2__text-2 {
        font-size: 30px;
        position: relative;
        bottom: 30px;
        text-align: right;
        margin: 10px; }
      .events__bloque-2__text-3 {
        font-size: 10px;
        font-weight: 1000;
        width: 150px;
        text-align: right; }
      .events__bloque-2__text-4 {
        font-size: 30px;
        position: relative;
        bottom: 30px;
        text-align: left;
        margin: 10px; }
      .events__bloque-2__text-5 {
        font-size: 10px;
        font-weight: 1000;
        width: 150px;
        text-align: left; }
    .events__bloque-3 {
      height: 12rem;
      width: 20em; }
      .events__bloque-3__bg {
        display: none; }
        .events__bloque-3__bg__mobile {
          background-color: #f56311; }
      .events__bloque-3__text-1 {
        margin: 1px;
        font-size: 5px;
        padding: 2px; }
      .events__bloque-3__title-1 {
        font-size: 12px;
        margin: 2px; }
      .events__bloque-3__text-2 {
        font-size: 10px;
        padding: 0px;
        margin-bottom: 0px; }
      .events__bloque-3__text-3 {
        margin: 1px;
        font-size: 5px;
        padding: 2px; }
      .events__bloque-3__title-2 {
        font-size: 12px;
        margin: 2px; }
      .events__bloque-3__text-4 {
        font-size: 10px;
        padding: 0px;
        margin-bottom: 0px; }
    .events__bloque-4 {
      display: none; }
    .events__bloque-5 {
      height: 12rem;
      width: 20em;
      background-image: url(../imágenes/events/bloque-6.png); }
      .events__bloque-5__title {
        font-size: 30px;
        line-height: 30px;
        padding: 10px;
        background-color: #2c599d;
        width: 15rem;
        position: relative;
        left: 40px; }
      .events__bloque-5__text-1 {
        font-size: 15px;
        padding: 5px;
        background-color: #2c599d;
        width: 15rem;
        position: relative;
        left: 40px; }
      .events__bloque-5__text-2 {
        font-size: 10px;
        margin-top: 0px;
        background-color: #2c599d;
        width: 15rem;
        position: relative;
        left: 40px;
        padding-bottom: 5px; }
    .events__bloque-6 {
      display: none; }
    .events__bloque-7 {
      height: 12rem;
      width: 20em;
      display: flex;
      justify-content: space-between; }
      .events__bloque-7__image {
        height: 11rem;
        width: 3rem; } }

/*estilos contact*/
.contact {
  display: flex;
  margin: 50px 0px;
  justify-content: space-around;
  align-items: center; }
  .contact .form {
    height: 500px;
    width: 550px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: relative;
    left: 200px;
    display: flex;
    flex-direction: column; }
    .contact .form__image {
      height: 550px;
      position: relative;
      right: 60px;
      z-index: 5; }
    .contact .form__title {
      font-family: "Oswald", sans-serif;
      font-size: 40px;
      text-align: center;
      letter-spacing: 3px;
      color: white;
      margin: 30px 0px 10px 0px; }
    .contact .form__subtitle {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: white;
      text-align: center;
      letter-spacing: 3px;
      margin: 15px 30px; }
    .contact .form__name {
      border-radius: 20px;
      border-style: none;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      width: 450px;
      margin: 10px; }
    .contact .form__email {
      border-radius: 20px;
      border-style: none;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      width: 450px;
      margin: 10px; }
    .contact .form__message {
      border-radius: 20px;
      border-style: none;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      width: 450px;
      height: 150px;
      margin: 10px; }
    .contact .form__send {
      border-radius: 10px;
      border-style: none;
      background-color: black;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      padding: 10px 30px;
      margin-bottom: 15px;
      display: block;
      margin-left: auto;
      margin-right: auto; }

@media screen and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    justify-content: space-around;
    align-items: center; }
    .contact .form {
      height: 450px;
      width: 320px;
      border-radius: 30px;
      left: 0px;
      display: flex;
      flex-direction: column; }
      .contact .form__image {
        height: 300px;
        position: relative;
        right: 0px; }
      .contact .form__title {
        font-size: 30px; }
      .contact .form__subtitle {
        font-size: 12px;
        margin: 5px 5px; }
      .contact .form__name {
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        width: 280px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px; }
      .contact .form__email {
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        width: 280px;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto; }
      .contact .form__message {
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        width: 280px;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        height: 120px; }
      .contact .form__send {
        border-radius: 10px;
        font-size: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 150px; } }

/*estilos del ARTISTS*/
.artists {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .artists__title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "dark side" "art ists";
    width: 62.5rem;
    justify-content: center;
    margin-bottom: 3.125rem; }
    .artists__title__dark {
      grid-area: dark;
      font-family: "Oswald", sans-serif;
      font-size: 11rem;
      font-style: normal;
      text-align: center;
      letter-spacing: 0.1em; }
    .artists__title__side {
      grid-area: side;
      font-family: "Oswald", sans-serif;
      font-size: 11rem;
      font-style: normal;
      text-align: center;
      letter-spacing: 0.1em;
      color: transparent;
      -webkit-text-stroke: 0.125rem #000000; }
    .artists__title__art {
      grid-area: art;
      font-family: "Oswald", sans-serif;
      font-size: 11rem;
      font-style: normal;
      text-align: center;
      letter-spacing: 0.1em; }
    .artists__title__ists {
      grid-area: ists;
      font-family: "Oswald", sans-serif;
      font-size: 11rem;
      font-style: normal;
      text-align: center;
      letter-spacing: 0.1em;
      color: transparent;
      -webkit-text-stroke: 0.125rem #000000; }
  .artists__profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .artists__profiles__1, .artists__profiles__2, .artists__profiles__3, .artists__profiles__4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3.125rem; }
    .artists__profiles__name {
      font-family: "Oswald", sans-serif;
      font-size: 4.375rem; }
    .artists__profiles__subtitle {
      font-family: "Montserrat", sans-serif;
      font-size: 1.563rem;
      font-weight: 800; }

@media screen and (max-width: 768px) {
  .artists__title {
    width: 100%;
    margin-bottom: 2em; }
    .artists__title__dark {
      font-size: 4.2rem; }
    .artists__title__side {
      font-size: 4.2rem;
      -webkit-text-stroke: 0.075rem #000000; }
    .artists__title__art {
      font-size: 4.2rem; }
    .artists__title__ists {
      font-size: 4.2rem;
      -webkit-text-stroke: 0.075rem #000000; }
  .artists__profiles__images {
    height: 18em; }
  .artists__profiles__name {
    font-size: 3rem; }
  .artists__profiles__subtitle {
    font-size: 1.5rem; } }

/*estilos ABOUT US*/
.about-us {
  display: flex;
  flex-direction: row; }
  .about-us__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 800px; }
    .about-us__left__dark {
      font-family: "Oswald", sans-serif;
      font-size: 250px;
      text-align: center;
      letter-spacing: 0.1em;
      margin-left: 30px;
      color: #f56311; }
    .about-us__left__text {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      color: white;
      width: 500px;
      text-align: right;
      position: relative;
      left: 100px; }
    .about-us__left__img {
      width: 600px; }
  .about-us__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px; }
    .about-us__right__side {
      font-family: "Oswald", sans-serif;
      font-size: 250px;
      text-align: center;
      letter-spacing: 0.1em;
      margin-left: 30px;
      color: #f56311; }
    .about-us__right__text {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      color: white;
      width: 500px;
      text-align: left;
      position: relative;
      left: 50px; }
    .about-us__right__extra {
      color: transparent;
      -webkit-text-stroke: 2px #3a3cad;
      font-family: "Oswald", sans-serif;
      font-size: 90px;
      text-align: center;
      letter-spacing: 0.1em;
      margin: 20px; }
    .about-us__right__img {
      width: 600px; }
  .about-us__title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: right;
    color: white;
    width: 600px;
    margin: 10px; }
  .about-us__color-blocks {
    display: flex;
    justify-content: space-around;
    margin: 20px; }

@media screen and (max-width: 768px) {
  .mobile__title {
    font-family: "Oswald", sans-serif;
    font-size: 5rem;
    text-align: center;
    color: #f56311; }
  .about-us {
    flex-direction: column; }
    .about-us__left {
      width: 100%; }
      .about-us__left__text {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: white;
        width: 80%;
        position: relative;
        left: 0px;
        text-align: right;
        margin: 20px; }
    .about-us__right {
      width: 100%; }
      .about-us__right__img {
        width: 300px;
        height: 30px;
        align-self: center;
        object-fit: cover; }
      .about-us__right__text {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: white;
        width: 80%;
        position: relative;
        right: 0px;
        text-align: left;
        margin: 20px 0px; }
      .about-us__right__extra {
        -webkit-text-stroke: 0.5px #3a3cad;
        font-size: 3rem;
        letter-spacing: 0.1em;
        margin: 5px;
        text-align: center; }
    .about-us__left__dark, .about-us__right__side, .about-us__gradient, .about-us__title, .about-us__left__img {
      display: none; }
    .about-us__color-blocks {
      bottom: 0px;
      margin-bottom: 20px; }
      .about-us__color-blocks__img {
        width: 120px; } }
